<md2-accordion multiple="false">
  <md2-accordion-tab>
    <md2-accordion-header class="">
      <md-card-title align="start"><i class="fa fa-user-plus"></i>
        Patient's Consents
      </md-card-title>
    </md2-accordion-header>
    <div>
      <div hidden>
        <div style="background-color: #e6aaa6;" class="p-md font-size18 font-weight center-sm-left">There currently are
          NO Consents on record.
        </div>
      </div>
      <div fxLayoutAlign="center" [ngStyle]="{'padding-bottom': '20px'}">
        <button md-raised-button color="primary" class="plus-button" (click)="redirectToPatientConsentsCreate()">
          <md-icon class="font-weight700">add</md-icon>
          <strong>Add a new consent</strong>
        </button>
      </div>
    </div>
  </md2-accordion-tab>
</md2-accordion>
