<div style="padding-bottom: 20px">
  <md2-accordion class="patientRecord-accordion m-b-sm" multiple="false">
    <md2-accordion-tab>
      <md2-accordion-header class="">
        <md-card-title align="start">
          {{ 'PATIENT.ACTIVITY_HISTORY.SECTION_TITLE' | translate }}
        </md-card-title>
      </md2-accordion-header>
      <div class="p-l p-r" class.gt-sm="p-l-lg p-r-lg">
        <div fxLayoutAlign="center">
          <div class="m-t-lg p-b-sm border-bottom-purple-thin" fxFlex="1 0 auto" fxLayoutAlign="flex-start center"
               fxLayoutGap="10px">
            <div class="font-size20 font-weight300">{{ 'PATIENT.ACTIVITY_HISTORY.COMPONENT_TITLE' | translate }}</div>
          </div>
        </div>
        <div style="padding-top: 20px;" *ngIf="noActivityHistory; else hasActivityHistory">
          <div style="background-color: #DEBCC9" class="p-md font-size18 font-weight center-sm-left">
            {{ 'PATIENT.ACTIVITY_HISTORY.NO_ACTIVITY_HISTORY' | translate }}
          </div>
        </div>
        <ng-template #hasActivityHistory>
          <div fxLayoutAlign="center">
            <pagination-controls
              previousLabel="{{ 'CONSENT.CARD_LIST.PAGINATION.PREVIOUS' | translate }}"
              nextLabel="{{ 'CONSENT.CARD_LIST.PAGINATION.NEXT' | translate }}"
              (pageChange)="getPage($event)">
            </pagination-controls>
          </div>
          <div fxLayoutAlign="center">
            <md-spinner *ngIf="loading"></md-spinner>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxHide fxHide.gt-xs="false" class="m-t p-sm bg-dark-bluegrey white">
            <div fxFlex class="font-size15 font-weight500">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.DATE' | translate }}</div>
            <div fxFlex class="font-size15 font-weight500">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.ACTION' | translate }}</div>
            <div fxFlex class="font-size15 font-weight500">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.CONSENT_REFERENCE_ID' | translate }}</div>
            <div fxFlex class="font-size15 font-weight500">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.CHANGED_BY' | translate }}</div>
            <div fxFlex class="font-size15 font-weight500">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.ROLE' | translate }}</div>
          </div>

          <div *ngFor="let activity of asyncActivityHistory" fxLayout="column" fxLayout.gt-xs="row" class="stripedRows p-sm p-t p-b">
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxHide.gt-xs="true" class="font-size15">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.DATE' | translate }}</div>
                <div class="font-size15 font-weight500">{{activity.updatedDateTime}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign.xs="start center">
                <div fxHide.gt-xs="true" class="font-size15">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.ACTION' | translate }}</div>
                <div class="font-size15 font-weight500">{{activity.actionType}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign.xs="start center">
                <div fxHide.gt-xs="true" class="font-size15">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.CONSENT_REFERENCE_ID' | translate }}</div>
                <div class="font-size15 font-weight500">{{activity.consentReferenceId}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign.xs="start center">
                <div fxHide.gt-xs="true" class="font-size15">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.CHANGED_BY' | translate }}</div>
                <div class="font-size15 font-weight500">{{activity.updatedBy}}</div>
              </div>
            </div>
            <div fxFlex>
              <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign.xs="start center">
                <div fxHide.gt-xs="true" class="font-size15">{{ 'PATIENT.ACTIVITY_HISTORY.TABLE.ROLE' | translate }}</div>
                <div class="font-size15 font-weight500">{{activity.role}}</div>
              </div>
            </div>
          </div>
          <div fxLayoutAlign="center">
            <pagination-controls
              previousLabel="{{ 'CONSENT.CARD_LIST.PAGINATION.PREVIOUS' | translate }}"
              nextLabel="{{ 'CONSENT.CARD_LIST.PAGINATION.NEXT' | translate }}"
              (pageChange)="getPage($event)">
            </pagination-controls>
          </div>
        </ng-template>

      </div>
    </md2-accordion-tab>
  </md2-accordion>
</div>
