.c2s-consent {
  padding: 8px !important;

    .consent-card-header {
      margin: 0;
      padding: 10px;
      background-color: #bcdedb;
    }

    .consent-card-header:hover {
      background-color: rgba(63, 81, 181, 0.2);
    }

    //.mat-card-actions {
    //  margin: 10px !important;
    //}
    md-card-content {
      margin: 0 !important;
    }
    md-card-actions {
      margin: 0;
      padding: 0;
    }

}

.transition {
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.margin-20 {
  margin: 20px;
}

