<md-card class="p-none">
  <md-card-content class="m-b-n border-bottom-purple-thin">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px"
           class="consent-card-header" (click)="toggleDetailsVisible(el)">
        <div fxFlex="1 1 35%">
          <div fxLayout="column">
            <div class="font-size11 font-weight600 m-b-xs">
              {{ 'CONSENT.CARD.AUTHORIZED_TO_SHARE' | translate }}
            </div>
            <div class="font-size12" *ngFor="let fromProvider of consent.fromProviders">
              {{fromProvider | provider: 'name'}}
            </div>
          </div>
        </div>
        <div fxFlex="1 1 35%">
          <div fxLAyout="column">
            <div class="font-size11 font-weight600 m-b-xs">
              {{ 'CONSENT.CARD.SHARING_WITH' | translate }}
            </div>
            <div class="font-size12" *ngFor="let toProvider of consent.toProviders">
              {{toProvider | provider: 'name'}}
            </div>
          </div>
        </div>
        <div fxFlex="1 auto">
          <div fxLayout="column">
            <div class="font-size11 font-weight600">
              {{ 'CONSENT.CARD.EFFECTIVE_DATE' | translate }}
            </div>
            <div class="font-size12">{{consent.startDate | date}} - {{consent.endDate | date}}</div>
          </div>
        </div>
      </div>

      <div class="transition p-l p-r" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
           (window:resize)="onResize($event, el)"
           [style.height]="getHeightPx()" #el>
        <div fxFlex *ngIf="hasDoNotShareSensitivityPolicyCodes(); else doShareSensitivityPolicy">
          <h3>
            <strong>
              {{ 'CONSENT.CARD.MEDICAL_INFORMATION_DISCLOSED' | translate }}
            </strong>
          </h3>
          <md-chip-list>
            <md-chip class="consents"
                     *ngFor="let shareSensitivityCategory of consent.shareSensitivityCategories"
                     color="accent" selected="true">
              <md-icon>check_circle</md-icon>
              <span class="md-chip-icon-text">{{shareSensitivityCategory | sensitivityCategory: 'display'}}</span>
            </md-chip>
          </md-chip-list>
        </div>
        <ng-template #doShareSensitivityPolicy>
          <div fxFlex>
            <h3>
              <strong>
                {{ 'CONSENT.CARD.SHARE_ALL' | translate }}
              </strong>
            </h3>
            <md-chip-list>
              <md-chip class="consents" color="accent" selected="true">
                <md-icon>check_circle</md-icon>
                <span class="md-chip-icon-text">
                  {{ 'CONSENT.CARD.SHARE_ALL_MEDICAL_INFORMATION' | translate }}
                </span>
              </md-chip>
            </md-chip-list>
          </div>
        </ng-template>
        <div fxFlex>
          <h3>
            <strong>
              {{ 'CONSENT.CARD.SHARE_PURPOSE_OF_USES' | translate }}
            </strong>
          </h3>
          <md-chip-list>
            <md-chip class="consents" *ngFor="let sharePurpose of consent.sharePurposes"
                     color="accent" selected="true">
              <md-icon>check_circle</md-icon>
              <span class="md-chip-icon-text">{{sharePurpose | sharePurpose: 'display'}}</span>
            </md-chip>
          </md-chip-list>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between center"
         class="p-l p-r p-b">
      <div fxFlex="1 auto">
        <div class="font-size14">
          {{ 'CONSENT.CARD.CONSENT_STATE' | translate }}
          <md-chip class="consents" color="{{consent.consentStage | consentStage: 'color'}}" selected="true">
            <md-icon>{{consent.consentStage | consentStage: 'icon'}}</md-icon>
            <span
              class="md-chip-icon-text"><strong>{{consent.consentStage | consentStage: 'text' | translate}} </strong></span>
          </md-chip>
        </div>
      </div>
      <button md-raised-button color="primary" (click)="consentOptionsDialog.open()">
        {{ 'CONSENT.CARD.MANAGE_CONSENT_BUTTON_TEXT' | translate }}
      </button>
    </div>
  </md-card-actions>
</md-card>
<div>
  <!--consentOptionsDialog Start-->
  <md2-dialog #consentOptionsDialog>
    <md2-dialog-title fxLayoutAlign="center">
      {{ 'CONSENT.CARD.MANAGE_CONSENT_DIALOG_TITLE' | translate }}
    </md2-dialog-title>
    <md-list>
      <md-list-item *ngFor="let consentOption of consentOptions">
        <div class="margin-20" fxFill>
          <a fxLayoutAlign="space-between" md-raised-button
             (click)="invokeAction(consentOption, consentOptionsDialog, deleteConfirmationDialog)"
             *ngIf="selectConsentMethodOption(consentOption) && displayOnProviderUI(consentOption)">
            <md-icon>{{consentOption.icon}}</md-icon>
            <span class="margin-20">{{consentOption.text | translate}}</span>
          </a>
           <a fxLayoutAlign="space-between" md-raised-button
              *ngIf="!selectConsentMethodOption(consentOption) && displayOnProviderUI(consentOption)"
             [routerLink]="getRouterLink(consentOption)">
             <md-icon>{{consentOption.icon}}</md-icon>
             <span class="margin-20">{{consentOption.text | translate}}</span>
           </a>
        </div>
      </md-list-item>
    </md-list>
  </md2-dialog>
  <!--consentOptionsDialog End-->

  <!--deleteConfirmationDialog Start-->
  <md2-dialog #deleteConfirmationDialog (onOpen)="consentOptionsDialog.close()">
    <md2-dialog-title>
      {{ 'CONSENT.CARD.DELETE_CONSENT_DIALOG.TITLE' | translate }}
    </md2-dialog-title>
    {{ 'CONSENT.CARD.DELETE_CONSENT_DIALOG.CONTENT' | translate }}
    <md2-dialog-footer>
      <button md-raised-button color="primary" (click)="confirmDeleteConsent(deleteConfirmationDialog)">
        {{ 'CONSENT.CARD.DELETE_CONSENT_DIALOG.OK_BTN' | translate }}
      </button>
      <button md-raised-button (click)="deleteConfirmationDialog.close()">
        {{ 'CONSENT.CARD.DELETE_CONSENT_DIALOG.CANCEL_BTN' | translate }}
      </button>
    </md2-dialog-footer>
  </md2-dialog>
  <!--deleteConfirmationDialog End-->
</div>
