<md-card class="left-align p-none m-sm section-border-thin hover">
  <md-card-title class="bg-forest-green p-sm white"><i class="material-icons md-36 bottom p-r-xs">account_box</i>
    Select Providers
  </md-card-title>
  <md-card-content class="p-15">
    <md-grid-list cols="2" rowHeight="130px">
      <md-grid-tile>
        <c2s-select-provider
          [title]="'The following individual or organization'"
          [dialogTitle]="'Authorize'"
          [isAuthorizedProviders]="true">
        </c2s-select-provider>
      </md-grid-tile>
      <md-grid-tile>
        <c2s-select-provider
          [title]="'To disclose my information to'"
          [dialogTitle]="'Disclosure'"
          [isAuthorizedProviders]="false">
        </c2s-select-provider>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>
