//C2S Custom Palettes
$forest-green: #008b8b;
$dark-green: #104952;
$lite-blue: #daeaf7;
$navy-blue: #33668C;
$dark-blue: #2f526d;
$plus-green: #24a69a;
$xlite-teal: #e5eded;
$dark-bluegrey: #426575;

.dark-bluegrey {color:$dark-bluegrey;}

//background colors

.bg-white {background-color: white !important;}
.bg-forest-green {background-color: #008b8b;}
.bg-dark-green {background-color: #104952;}
.bg-lite-blue {background-color: #daeaf7;}
.bg-navy-blue {background-color: #33668C;}
.bg-plus-green {background-color: #24a69a !important;}
.bg-xlite-teal {background-color: #e5eded;}
.bg-dark-bluegrey {background-color:#426575;}
.bg-dark-blue {background-color: #2f526d;}
.bg-maroon {background-color: #8a1004;}
.bg-lite-gray-f5 {background-color: #f5f5f5;}
.bg-xlite-blue {background-color: #f7fbff;}

.white {color: white;}
.black {color: black;}
.forest-green {color: #008b8b;}
.dark-green {color: #104952;}
.lite-blue {color: #daeaf7;}
.navy-blue {color: #33668C;}
.plus-green {color: #24a69a !important;}
.xlite-teal {color: #e5eded;}
.dark-bluegrey {color:#426575;}
.dark-blue {color: #2f526d;}
.maroon {color: #8a1004;}
.lite-gray-f5 {color: #f5f5f5;}
.xlite-blue {color: #f7fbff;}

//C2S Custom Theme
$mat-deep-plumb: (
  50: #9B8D9B,
  100: #9B8D9B,
  200: #9B8D9B,
  300: #7D6A7C,
  400: #7D6A7C,
  500: #644F63,
  600: #644F63,
  700: #493648,
  800: #331D32,
  900: #331D32,

  A100: #9B8D9B,
  A200: #7D6A7C,
  A400: #644F63,
  A700: #331D32,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);


$mat-deep-sea-foam: (
  50: #CDE6F0,
  100: #CDE6F0,
  200: #98C6D7,
  300: #98C6D7,
  400: #68A2B8,
  500: #68A2B8,
  600: #438199,
  700: #438199,
  800: #2A6B84,
  900: #2A6B84,
  A100: #CDE6F0,
  A200: #98C6D7,
  A400: #68A2B8,
  A700: #438199,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

.color-test {
  color: mat-color($mat-deep-sea-foam, 800);
}
