<md-card class="left-align p-8 m-b section-border-thin hover">
  <md-card-title class="bg-forest-green p-sm white m-b-none">
    {{ 'CONSENT.MEDICAL_INFORMATION.TITLE' | translate }}
  </md-card-title>
  <md-card-content class="bg-xlite-teal p-15">
    <p class="font-size12">
      {{ 'CONSENT.MEDICAL_INFORMATION.DESCRIPTION' | translate }}
    </p>
    <md-radio-group [(ngModel)]="isShareAll">
      <div>
        <md-radio-button name="medicalInformation"
                         #medInfoA
                         [value]="shareAllValue"
                         (click)="onSelectShareAll(medicalInformationDialog, medInfoA.value)">
          <span [innerHTML]="'CONSENT.MEDICAL_INFORMATION.SHARE_ALL_RADIO' | translate"></span>
        </md-radio-button>
      </div>
      <div>
        <md-radio-button name="medicalInformation"
                         #medInfoB
                         [value]="notShareAllValue"
                         (click)="onSelectDoNotShareAll(medicalInformationDialog, medInfoB.value)">
          <span [innerHTML]="'CONSENT.MEDICAL_INFORMATION.SHARE_SOME_RADIO' | translate"></span>
        </md-radio-button>
      </div>
    </md-radio-group>

    <label for="sensitivity-category-list" *ngIf="hasSelectedSensitivityCategories()">
      <p><strong>{{ 'CONSENT.MEDICAL_INFORMATION.SELECTED_SENSITIVITY_CATEGORIES_LABEL' | translate }}</strong></p>
    </label>
    <md-chip-list id="sensitivity-category-list">
      <md-chip *ngFor="let sensitivityCategory of selectedSensitivityCategories"
               color="accent" selected="true">
        <md-icon>check_circle</md-icon>
        <span class="md-chip-icon-text">{{sensitivityCategory}}</span>
      </md-chip>
    </md-chip-list>
  </md-card-content>
</md-card>

<md2-dialog #medicalInformationDialog>
  <md2-dialog-title>
    {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.TITLE' | translate }}
  </md2-dialog-title>
  <md-card class="left-align">
    <p *ngIf="(isShareAll === notShareAllValue); else selectToShareAll"
       [innerHTML]="'CONSENT.MEDICAL_INFORMATION.DIALOG.NOT_SHARE_ALL_PARAGRAPH' | translate"></p>
    <ng-template #selectToShareAll>
      <p [innerHTML]="'CONSENT.MEDICAL_INFORMATION.DIALOG.SHARE_ALL_PARAGRAPH' | translate"></p>
    </ng-template>
    <md-card-title>
      {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.HEADER1' | translate }}
    </md-card-title>
    <md-card-content class="p-l-sm p-r-sm p-b-md">
      <h4 *ngIf="isInvalidNotShareAll">
        {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.WARNING_ONE' | translate }}
      </h4>
      <p *ngIf="!isSelectOneSensitivityCategory && (isShareAll === notShareAllValue)"
         [innerHTML]="'CONSENT.MEDICAL_INFORMATION.DIALOG.WARNING_TWO' | translate"></p>
      <div>
        <strong>
          {{federalInfo.title | translate}}
          <md-icon tooltip="{{federalInfo.description | translate}}"
                   tooltip-positionh="below"
                   tooltip-delay="100">info
          </md-icon>
        </strong>
      </div>
      <div *ngFor="let sensitivityCategory of sensitivityCategories; let i = index;">
        <md-checkbox *ngIf="sensitivityCategory.federal"
                     [(ngModel)]="sensitivityCategories[i].checked"
                     [disabled]="(isShareAll === shareAllValue)"
                     (change)="checkCategoriesSelectedStatus()">
          {{sensitivityCategory.displayName}}
          <md-icon tooltip="{{sensitivityCategory.description}}"
                   tooltip-positionh="below"
                   tooltip-delay="100">info
          </md-icon>
        </md-checkbox>
      </div>
      <br>
      <div>
        <strong>
          {{stateInfo.title | translate}}
          <md-icon tooltip="{{stateInfo.description | translate}}"
                   tooltip-positionh="below"
                   tooltip-delay="100">info
          </md-icon>
        </strong>
      </div>
      <div *ngFor="let sensitivityCategory of sensitivityCategories; let i = index;">
        <md-checkbox *ngIf="!sensitivityCategory.federal"
                     [(ngModel)]="sensitivityCategories[i].checked"
                     [disabled]="(isShareAll === shareAllValue)"
                     (change)="checkCategoriesSelectedStatus()">
          {{sensitivityCategory.displayName}}
          <md-icon tooltip="{{sensitivityCategory.description}}"
                   tooltip-positionh="below"
                   tooltip-delay="100">info
          </md-icon>
        </md-checkbox>
      </div>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="cancel(medicalInformationDialog)">
      {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.CANCEL_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary"
            *ngIf="(isShareAll === notShareAllValue)"
            [disabled]="isAbleToSave()"
            (click)="setSelectedMedicalInformation(medicalInformationDialog)">
      {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.SAVE_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary" *ngIf="(isShareAll === shareAllValue)"
            (click)="confirmSelectAll(medicalInformationDialog)">
      {{ 'CONSENT.MEDICAL_INFORMATION.DIALOG.CONFIRM_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
