<div class="p-t-75 p-l-md p-r-md p-b">
  <h1>
    {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.COMPONENT_TITLE' | translate }}
  </h1>
  <div fxLayoutAlign="left">
    <div style="padding-top: 20px">
      <div style="background-color: #DEBCC9;" class="p-md font-size18 font-weight center-sm-left" >
        {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.WARNING' | translate }}
      </div>
    </div>
  </div>
  <form [formGroup]="segmentationFrom" novalidate>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <div><span><h2>
          {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.AUTHORIZE_LABEL' | translate }}:
        </h2></span></div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder=' {{ "PATIENT_EDIT.SEGMENT_DOCUMENT.AUTHORIZE_PLACEHOLDER" | translate }}' #authorizeProviderNpi
                 (blur)="searchAuthorizeProviders(authorizeProviderNpi.value)" formControlName="intermediaryNpi">
        </md-input-container>
        <div *ngIf="authorizeProvider">
          <label>{{ "PATIENT_EDIT.SEGMENT_DOCUMENT.AUTHORIZE_PROVIDER_NAME_LABEL" | translate}}:</label>
          <span>{{ authorizeProvider.firstName }} {{ authorizeProvider.lastName }}</span>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <div><span><h2>
          {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.DISCLOSE_LABEL' | translate }}:
        </h2></span></div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-input-container class="full-width font-size20">
          <input mdInput placeholder= '{{ "PATIENT_EDIT.SEGMENT_DOCUMENT.DISCLOSE_PLACEHOLDER" | translate}}' #disclosureProvider
                 (blur)="searchDiscloseProviders(disclosureProvider.value)" formControlName="recipientNpi">
        </md-input-container>
        <div *ngIf="discloseProvider">
          <label>
            {{ "PATIENT_EDIT.SEGMENT_DOCUMENT.DISCLOSE_PROVIDER_NAME_LABEL" | translate}}:
          </label>
          <span>{{ discloseProvider.firstName }} {{ discloseProvider.lastName }}</span>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <div><span><h2>
           {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.PURPOSE_OF_USE_LABEL' | translate }}:
        </h2></span></div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <md-select placeholder='{{"PATIENT_EDIT.SEGMENT_DOCUMENT.PURPOSE_OF_USE_PLACEHOLDER" | translate }}' formControlName="purposeOfUse">
          <md-option *ngFor="let purposeOfUse of purposeOfUses" [value]="purposeOfUse.id" >
            {{ purposeOfUse.display }}
          </md-option>
        </md-select>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <label class="upload-button">
          <input type="file" ngFileSelect (uploadOutput)="onUploadOutput($event, segmentDocumentDialog)" formControlName="document" [uploadInput]="uploadInput">
          <a md-raised-button >
            {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.CHOOSE_FILE_BTN' | translate }}
          </a>
        </label>
      </div>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex>
        <div class="full-width font-size20">
          <a md-raised-button (click)="segmentDocument()" disabled="canSegment()">
            {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.SEGMENTATION_BTN' | translate }}
          </a>
        </div>
      </div>
    </div>
  </form>
</div>

<md2-dialog #segmentDocumentDialog (onClose)="navigateTo()">
  <md2-dialog-title>
    {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.DOWNLOAD_DIALOG.TITLE' | translate }}
  </md2-dialog-title>
  <md2-dialog-content>
    <div class="center">
      <button md-raised-button (click)="closeDialog(segmentDocumentDialog)">
        {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.DOWNLOAD_DIALOG.CANCEL_BTN' | translate }}
      </button>
      <button md-raised-button color="primary" (click)="downloadSegementedDocument(segmentDocumentDialog)">
        {{ 'PATIENT_EDIT.SEGMENT_DOCUMENT.DOWNLOAD_DIALOG.DOWNLOAD_BTN' | translate }}
      </button>
    </div>
  </md2-dialog-content>
</md2-dialog>
