<md-card class="left-align p-8 m-b section-border-thin hover">
  <md-card-title class="bg-forest-green p-sm white m-b-none">
    {{ 'CONSENT.TERMS.TITLE' | translate }}
  </md-card-title>
  <md-card-content class="bg-xlite-teal p-15">
    <p class=" font-size12 m-b-xs">
      {{ 'CONSENT.TERMS.TEXT' | translate }}
    </p>
    <table>
      <tr>
        <td>
          <span>
            {{ 'CONSENT.TERMS.START_DATE' | translate }}
            <md2-datepicker [(ngModel)]="startDate" (change)="onStartDateChanged()"
                            [openOnFocus]="isOpenOnFocus" [format]="FORMAT">
            </md2-datepicker>
          </span>
        </td>
        <td>
          <span>
            {{ 'CONSENT.TERMS.END_DATE' | translate }}
            <md2-datepicker [(ngModel)]="endDate" (change)="onEndDateChanged()"
                            [openOnFocus]="isOpenOnFocus" [format]="FORMAT">
            </md2-datepicker>
          </span>
        </td>
      </tr>
      <tr>
        <div *ngIf="isStartDatePastDate" class="has-error">
          {{ 'CONSENT.TERMS.ERROR_PAST_START_DATE' | translate }}
        </div>
        <div *ngIf="isEndDatePastDate" class="has-error">
          {{ 'CONSENT.TERMS.ERROR_PAST_END_DATE' | translate }}
        </div>
        <div *ngIf="isStartDateAfterEndDate" class="has-error">
          {{ 'CONSENT.TERMS.ERROR_END_DATE_BEFORE_START' | translate }}
        </div>
      </tr>
    </table>
  </md-card-content>
</md-card>
