<md-card class="left-align" (click)="selectProviderDialog.open()">
  <md-card-header>
    <md-card-title>{{title}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <h4>{{ consentProvider | provider : 'name'}}</h4>
  </md-card-content>
</md-card>

<md2-dialog #selectProviderDialog>
  <md2-dialog-title>{{dialogTitle}}</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>
      {{ 'CONSENT.SELECT_PROVIDER.DESCRIPTION' | translate }}
    </md-card-title>
    <md-card-content class="p-l-sm p-r-sm p-b-md">
      <md-radio-group [(ngModel)]="selectedProviderNpi">
        <h3>
          {{ 'CONSENT.SELECT_PROVIDER.IND_PROVIDER_LABEL' | translate }}
        </h3>
        <div *ngFor="let provider of patientProviders">
          <md-radio-button *ngIf="provider.providerType === 'PRACTITIONER'"
                           [value]="provider?.identifiers[0]?.value"
                           [disabled]="isSelectedProvider(provider?.identifiers[0]?.value)">
            {{provider | provider : 'name'}}
          </md-radio-button>
        </div>
        <h3>
          {{ 'CONSENT.SELECT_PROVIDER.ORG_PROVIDER_LABEL' | translate }}
        </h3>
        <div *ngFor="let provider of patientProviders">
          <md-radio-button *ngIf="provider.providerType === 'ORGANIZATION'"
                           [value]="provider?.identifiers[0]?.value"
                           [disabled]="isSelectedProvider(provider?.identifiers[0]?.value)">
            {{provider | provider : 'name'}}
          </md-radio-button>
        </div>
      </md-radio-group>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="selectProviderDialog.close()">
      {{ 'CONSENT.SELECT_PROVIDER.CANCEL_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary" (click)="addSelectedProvider(selectProviderDialog)">
      {{ 'CONSENT.SELECT_PROVIDER.ADD_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
