<md-card class="left-align" (click)="selectProviderDialog.open()">
  <md-card-header>
    <md-card-title>{{title}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <div *ngFor="let provider of selectedProviders">
        <md-list-item *ngIf="provider.selected">
          <strong>{{ provider | consentProvider : 'name'}}</strong>
        </md-list-item>
      </div>
    </md-list>

  </md-card-content>
</md-card>

<md2-dialog #selectProviderDialog>
  <md2-dialog-title>{{dialogTitle}}</md2-dialog-title>
  <md-card class="left-align">
    <md-card-title>
      {{ 'CONSENT.SELECT_PROVIDER.DESCRIPTION' | translate }}
    </md-card-title>
    <md-card-content class="p-l-sm p-r-sm p-b-md">
        <h3>
          {{ 'CONSENT.SELECT_PROVIDER.IND_PROVIDER_LABEL' | translate }}
        </h3>
        <div *ngFor="let provider of localeProviders">
          <md-checkbox  *ngIf="provider.providerType === 'PRACTITIONER'"
                        [(ngModel)]="provider['selected']"
                        [disabled]="isDisabled(provider)"
          >{{provider | consentProvider : 'name'}}</md-checkbox>

        </div>
        <h3>
          {{ 'CONSENT.SELECT_PROVIDER.ORG_PROVIDER_LABEL' | translate }}
        </h3>
        <div *ngFor="let provider of localeProviders">
          <md-checkbox  *ngIf="provider.providerType === 'ORGANIZATION'"
                        [(ngModel)]="provider['selected']"
                        [disabled]="isDisabled(provider)"
          >{{provider | consentProvider : 'name'}}</md-checkbox>
        </div>
    </md-card-content>
  </md-card>
  <md2-dialog-footer>
    <button type="button" md-raised-button (click)="selectProviderDialog.close()">
      {{ 'CONSENT.SELECT_PROVIDER.CANCEL_BTN' | translate }}
    </button>
    <button type="button" md-raised-button color="primary" (click)="addSelectedProvider(selectProviderDialog)">
      {{ 'CONSENT.SELECT_PROVIDER.ADD_BTN' | translate }}
    </button>
  </md2-dialog-footer>
</md2-dialog>
