<div class="p-t-75">
  <div class="p-l p-r" class.gt-sm="p-l-lg p-r-lg">
  <md-grid-list cols="1">
    <div class="left-align">
      <h1 class="p-b border-bottom-purple-thin">
        {{ 'CONSENT.CREATE_EDIT.TITLE' | translate:selectedPatientName }}
      </h1>
    </div>
    <c2s-select-providers></c2s-select-providers>
    <c2s-medical-information></c2s-medical-information>
    <c2s-purpose-of-use></c2s-purpose-of-use>
    <c2s-consent-terms></c2s-consent-terms>
    <div class="p-15 right-align">
      <div class="m-r inline"><button md-raised-button (click)="cancel()">
        {{ 'CONSENT.CREATE_EDIT.CANCEL_BUTTON_LABEL' | translate }}
      </button></div>
      <button md-raised-button color="primary"
              [disabled]="isConsentFromInValid()"
              (click)="createEditConsent()">
        {{ 'CONSENT.CREATE_EDIT.SAVE_BUTTON_LABEL' | translate }}
      </button>
    </div>
  </md-grid-list>
  <br>
  </div>
</div>
