<div class="p-t-75 p-l-md p-r-md p-b">
  <h1>{{ 'PROVIDER.SEARCH.TITLE' | translate }}</h1>

  <md-card class="provider-search-card">
    <div class="containerX">
      <form [formGroup]="searchProviderFrom" novalidate>
        <md2-accordion multiple="false" (open)="resetAccordionTab()">
          <md2-accordion-tab [active]="accordionTab">

            <md2-accordion-header>
              <md-card-title align="start"><i class="material-icons middle m-r-xs">search</i>
                {{ 'PROVIDER.SEARCH.ACCORDION_HEADER' | translate }}
              </md-card-title>
            </md2-accordion-header>

            <md-card-content class="m-l-sm m-r-sm">
              <div class="section-border hover p-xs">
                <md-toolbar class="toolbar-base">
                  <button md-mini-fab aria-label="Step 1">
                    <span>1</span>
                  </button>
                  <span class="toolbar-header">
                    {{ 'PROVIDER.SEARCH.STEP_1.TITLE' | translate }}
                  </span>
                </md-toolbar>

                <div formGroupName="locatingType">
                  <div class="p-sm p-b m-t-xs bg-lite-blue">
                    <div class="font-size12 font-weight400 p-t-sm p-b-sm center">
                      {{ 'PROVIDER.SEARCH.STEP_1.LABEL' | translate }}
                    </div>

                    <div class="row-to-column960-centered">
                      <button fxFlex="1 0 auto" fxFlex.gt-sm="0 1 400px" class="toggle toggle-block"
                              (click)="setLocatingType(LOCATING_TYPE.STATE_CITY)"
                              [class.toggle-default]="!isStateCityType()"
                              [class.toggle-primary]="isStateCityType()">
                        <strong>
                          {{ 'PROVIDER.SEARCH.STEP_1.STATE_AND_CITY.LABEL' | translate }}
                        </strong>
                      </button>
                      <div class="p-l-sm p-r-sm center">
                        <h3>
                          {{ 'PROVIDER.SEARCH.STEP_1.OR' | translate }}
                        </h3>
                      </div>
                      <button fxFlex="1 0 auto" fxFlex.gt-sm="0 1 400px" fxLayoutAlign="center"
                              class="toggle toggle-block"
                              (click)="setLocatingType(LOCATING_TYPE.ZIP)"
                              [class.toggle-default]="isStateCityType()"
                              [class.toggle-primary]="!isStateCityType()">
                        <strong>
                          {{ 'PROVIDER.SEARCH.STEP_1.ZIP_CODE.LABEL' | translate }}
                        </strong>
                      </button>
                    </div>
                  </div>
                  <div class="p-sm m-t" *ngIf="isStateCityType()">
                    <div class="p-b-sm">
                      <div fxLayout="column" formGroupName="stateCity">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-select fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px"
                                     placeholder="{{ 'PROVIDER.SEARCH.STEP_1.STATE_AND_CITY.STATE_PLACEHOLDER' | translate }}"
                                     formControlName="state">
                            <md-option *ngFor="let state of states" [value]="state.code">
                              {{ state.displayName }}
                            </md-option>
                          </md-select>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [control]="searchProviderFrom.get('locatingType.stateCity.state')">
                        </c2s-control-validation-error-message>
                      </div>

                      <div fxLayout="column" formGroupName="stateCity" class="p-t-sm">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_1.STATE_AND_CITY.CITY_PLACEHOLDER' | translate }}"
                                   formControlName="city">
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [control]="searchProviderFrom.get('locatingType.stateCity.city')">
                        </c2s-control-validation-error-message>
                      </div>
                    </div>
                  </div>

                  <div class="p-sm m-t-xs" *ngIf="!isStateCityType()">
                    <div class="p-b-sm">
                      <div fxLayout="column" formGroupName="zip">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_1.ZIP_CODE.ZIP_CODE_PLACEHOLDER' | translate }}"
                                   formControlName="zipCode">
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [customMessage]="zipErrorMessage"
                                                              [control]="searchProviderFrom.get('locatingType.zip.zipCode')">
                        </c2s-control-validation-error-message>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-t section-border hover p-xs">
                <md-toolbar class="toolbar-base">
                  <button md-mini-fab aria-label="Step 2">
                    <span>2</span>
                  </button>
                  <span class="toolbar-header">
                    {{ 'PROVIDER.SEARCH.STEP_2.TITLE' | translate }}
                  </span>
                </md-toolbar>

                <div formGroupName="providerType">
                  <div class="p-sm p-b m-t-xs bg-lite-blue">
                    <div class="font-size12 font-weight400 p-t-sm p-b-sm center">
                      {{ 'PROVIDER.SEARCH.STEP_2.LABEL' | translate }}
                    </div>
                    <div class="row-to-column960-centered">
                      <button fxFlex="1 0 auto" fxFlex.gt-sm="0 1 400px" class="toggle toggle-block"
                              (click)="setProviderType(PROVIDER_TYPE.INDIVIDUAL)"
                              [class.toggle-default]="!isIndividualProviderType()"
                              [class.toggle-primary]="isIndividualProviderType()">
                        <strong>
                          {{ 'PROVIDER.SEARCH.STEP_2.PROVIDER_NAME_AND_OTHERS.LABEL' | translate }}
                        </strong>
                      </button>

                      <div class="p-l-sm p-r-sm center">
                        <h3>
                          {{ 'PROVIDER.SEARCH.STEP_2.OR' | translate }}
                        </h3>
                      </div>

                      <button fxFlex="1 0 auto" fxFlex.gt-sm="0 1 400px" class="toggle toggle-block"
                              (click)="setProviderType(PROVIDER_TYPE.ORGANIZATION)"
                              [class.toggle-default]="isIndividualProviderType()"
                              [class.toggle-primary]="!isIndividualProviderType()">
                        <strong>
                          {{ 'PROVIDER.SEARCH.STEP_2.FACILITY.LABEL' | translate }}
                        </strong>
                      </button>
                    </div>
                  </div>

                  <div class="p-sm m-t-xs" *ngIf="isIndividualProviderType()">
                    <div class="p-b-sm">

                      <div fxLayout="column" formGroupName="individual">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_2.PROVIDER_NAME_AND_OTHERS.LAST_NAME_PLACEHOLDER' | translate }}"
                                   formControlName="lastName"/>
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [control]="searchProviderFrom.get('providerType.individual.lastName')">
                        </c2s-control-validation-error-message>
                      </div>

                      <div fxLayout="column" formGroupName="individual" class="p-t-sm">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_2.PROVIDER_NAME_AND_OTHERS.FIRST_NAME_PLACEHOLDER' | translate }}"
                                   formControlName="firstName">
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [control]="searchProviderFrom.get('providerType.individual.firstName')">
                        </c2s-control-validation-error-message>
                      </div>

                      <div fxLayout="column" formGroupName="individual" class="p-t-sm">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_2.PROVIDER_NAME_AND_OTHERS.TELEPHONE_PLACEHOLDER' | translate }}"
                                   formControlName="phone">
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [customMessage]="phoneErrorMessage"
                                                              [control]="searchProviderFrom.get('providerType.individual.phone')">
                        </c2s-control-validation-error-message>
                      </div>

                      <div fxLayout="column" formGroupName="individual" class="p-t-sm">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-select fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px"
                                     placeholder="{{ 'PROVIDER.SEARCH.STEP_2.PROVIDER_NAME_AND_OTHERS.GENDER_PLACEHOLDER' | translate }}"
                                     formControlName="genderCode">
                            <md-option *ngFor="let gender of genders" [value]="gender.code">
                              {{ gender.displayName }}
                            </md-option>
                          </md-select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="p-sm m-t-xs" *ngIf="!isIndividualProviderType()">
                    <div class="p-b-sm">
                      <div fxLayout="column" formGroupName="organization">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_2.FACILITY.NAME_PLACEHOLDER' | translate }}"
                                   formControlName="orgName"/>
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [control]="searchProviderFrom.get('providerType.organization.orgName')">
                        </c2s-control-validation-error-message>
                      </div>
                      <div fxLayout="column" formGroupName="organization" class="p-t-sm">
                        <div fxLayout="row" fxLayoutAlign="center">
                          <md-input-container fxFlex="1 0 auto" fxFlex.gt-sm="0 1 600px">
                            <input mdInput
                                   placeholder="{{ 'PROVIDER.SEARCH.STEP_2.FACILITY.TELEPHONE_PLACEHOLDER' | translate }}"
                                   formControlName="phone">
                          </md-input-container>
                        </div>
                        <c2s-control-validation-error-message fxLayoutAlign="center"
                                                              [customMessage]="phoneErrorMessage"
                                                              [control]="searchProviderFrom.get('providerType.organization.phone')">
                        </c2s-control-validation-error-message>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </md-card-content>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="15px" class="p-r">
              <button md-raised-button color="primary" (click)="clearForm()" [disabled]="searchProviderFrom.pristine">
                <strong>
                  {{ 'PROVIDER.SEARCH.BUTTON.CLEAR_ALL' | translate }}
                </strong>
              </button>
              <button md-raised-button color="primary" (click)="searchProviders()"
                      [disabled]="searchProviderFrom.invalid">
                <strong>
                  {{ 'PROVIDER.SEARCH.BUTTON.SEARCH' | translate }}
                </strong>
              </button>
            </div>
          </md2-accordion-tab>
        </md2-accordion>
      </form>
      <!--<div [hidden]="!hasSearchResult" [ngStyle]="{'padding-top': '30px'}">-->
        <!--<c2s-provider-search-result [providerResult]="searchResponse"></c2s-provider-search-result>-->
      <!--</div>-->
    </div>
  </md-card>
  <div [hidden]="!hasSearchResult" [ngStyle]="{'padding-top': '30px'}">
    <c2s-provider-search-result [providerResult]="searchResponse"></c2s-provider-search-result>
  </div>
</div>
