<md-toolbar color="primary" fxLayoutAlign="center">
  <i class="material-icons">playlist_add</i>
  <h3 class="m-l-sm">
    {{ 'PROVIDER.MULTI_ADD.TITLE' | translate }}
  </h3>
</md-toolbar>
<div fxLayout="column" fxLayoutAlign="center" [ngStyle]="{'padding-top': '20px'}">
  <div>
    <table [md2Data]="providers" [rowsPerPage]="10">
      <thead>
      <tr>
        <th style="width: 5%">
          <md-icon>mode_edit</md-icon>
        </th>
        <th style="width: 25%" md2SortBy="npi">
          {{ 'PROVIDER.MULTI_ADD.TABLE.NPI' | translate }}
        </th>
        <th style="width: 70%">
          {{ 'PROVIDER.MULTI_ADD.TABLE.NAME_FACILITY' | translate }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr [hidden]="!(providers.length == 0)">
        <td style="width: 5%">
          <md-icon>person_add</md-icon>
        </td>
        <td style="width: 70%">
          <p>
            {{ 'PROVIDER.MULTI_ADD.TABLE.NO_PROVIDERS' | translate }}
          </p>
        </td>
        <td></td>
      </tr>
      <tr *ngFor="let provider of providers">
        <td>
          <div>
            <button md-icon-button color="warn" (click)="toOpenDeleteProvider(confirmDelete, provider)">
              <md-icon>delete_forever</md-icon>
            </button>
          </div>
        </td>
        <td>{{provider.npi}}</td>
        <td>{{provider | flattenedSmallProvider: 'fullName'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div fxLayoutAlign="left" [ngStyle]="{'padding-top': '20px'}">
    <md2-dialog #confirmAdd>
      <md2-dialog-title>
        {{ 'PROVIDER.MULTI_ADD.ADD_DIALOG.TITLE' | translate }}
      </md2-dialog-title>
      {{ 'PROVIDER.MULTI_ADD.ADD_DIALOG.CONTENT' | translate }}
      <md2-dialog-footer>
        <button class="m-r" md-raised-button color="primary" (click)="confirmAddProviders(confirmAdd, providers)">
          {{ 'PROVIDER.MULTI_ADD.ADD_DIALOG.CANCEL_BUTTON' | translate }}
        </button>
        <button md-raised-button color="primary" (click)="confirmAddProviders(confirmAdd, providers)">
          {{ 'PROVIDER.MULTI_ADD.ADD_DIALOG.OK_BUTTON' | translate }}
        </button>
      </md2-dialog-footer>
    </md2-dialog>
    <button md-raised-button color="primary" [disabled]="(providers.length==0)" (click)="confirmAdd.open()">
      {{ 'PROVIDER.MULTI_ADD.ADD_BUTTON' | translate }}
    </button>
  </div>
</div>
<div>
  <md2-dialog #confirmDelete>
    <md2-dialog-title>
      {{ 'PROVIDER.MULTI_ADD.DELETE_DIALOG.TITLE' | translate }}
    </md2-dialog-title>
    {{ 'PROVIDER.MULTI_ADD.DELETE_DIALOG.CONTENT' | translate }}
    <md2-dialog-footer>
      <button md-raised-button (click)="confirmDelete.close()">
        {{ 'PROVIDER.MULTI_ADD.DELETE_DIALOG.CANCEL_BUTTON' | translate }}
      </button>
      <button md-raised-button color="primary" (click)="confirmDeleteProvider(confirmDelete)">
        {{ 'PROVIDER.MULTI_ADD.DELETE_DIALOG.OK_BUTTON' | translate }}
      </button>
    </md2-dialog-footer>
  </md2-dialog>
</div>
