.create-edit-patient-form {
  width: 80%;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  font-size: 1em;
}

.full-width {
  width: 100%;
}


.has-error {
  color: brown;
}

input {
  font-size: 1.7em !important;
}


