<div class="p-t-75 p-l-md p-r-md p-b">
  <h1 class="">{{title}}</h1>
  <div class="flexcontainer row" fxLayoutAlign="start" *ngIf="isEditMode">
    <div class="fa fa-4x fa-address-book"></div>
    <h2>{{editingPatient | patient: 'fullName'}}</h2>
  </div>
  <div style="padding-bottom: 20px" *ngIf="isEditMode">
    <c2s-patient-verification [patient]="editingPatient"></c2s-patient-verification>
  </div>

  <md2-accordion multiple="false">
    <md2-accordion-tab>
      <md2-accordion-header class="">
        <md-card-title align="start"><i class="fa fa-user-plus"></i>
          Patient's Information
        </md-card-title>
      </md2-accordion-header>
      <div>
        <div style="background-color: #BCDEDB;" class="p-md font-size18 font-weight center-sm-left">
          Please complete all required fields to create a Patient Record.
        </div>
      </div>
      <form [formGroup]="createEditPatientForm" class="create-edit-patient-form" novalidate>
        <h2>Required Information</h2>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <md-select multiple placeholder="Role" formControlName="roles"
                       class="full-width font-size20">
              <md-option *ngFor="let role of roles; let i = index;" [value]="role.code"
                         [disabled]="role.code === disabledRoles[i-1]">
                {{ role.name }}
              </md-option>
            </md-select>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.roles">
            </c2s-control-validation-error-message>
          </div>
          <div fxFlex>
            <md-select placeholder="Preferred Language" formControlName="locale"
                       class="full-width font-size20">
              <md-option *ngFor="let locale of locales" [value]="locale.code">
                {{ locale.displayName }}
              </md-option>
            </md-select>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.locale">
            </c2s-control-validation-error-message>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="First Name" formControlName="firstName">
            </md-input-container>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.firstName">
            </c2s-control-validation-error-message>
          </div>
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="Middle Name (Optional)" formControlName="middleName">
            </md-input-container>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.middleName">
            </c2s-control-validation-error-message>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="Last Name" formControlName="lastName">
            </md-input-container>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.lastName">
            </c2s-control-validation-error-message>
          </div>
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="Email" formControlName="homeEmail">
            </md-input-container>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.homeEmail">
            </c2s-control-validation-error-message>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <md-select placeholder="Gender" formControlName="genderCode"
                       class="full-width font-size20">
              <md-option *ngFor="let gender of genders" [value]="gender.code">
                {{ gender.displayName }}
              </md-option>
            </md-select>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.genderCode">
            </c2s-control-validation-error-message>
          </div>
          <div fxFlex>
            <md2-datepicker class="full-width font-size20" placeholder="Date of Birth"
                            [openOnFocus]="isOpenOnFocus" [format]="FORMAT"
                            formControlName="birthDate">
            </md2-datepicker>
            <c2s-control-validation-error-message
              [control]="createEditPatientForm.controls.birthDate">
            </c2s-control-validation-error-message>
          </div>
        </div>

        <h2>Additional Information</h2>
        <div formGroupName="homeAddress">
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex>
              <md-input-container class="full-width font-size20">
                <input mdInput placeholder="Street Line1" formControlName="line1">
              </md-input-container>
              <c2s-control-validation-error-message
                [control]="createEditPatientForm.get('homeAddress.line1')">
              </c2s-control-validation-error-message>
            </div>
            <div fxFlex>
              <md-input-container class="full-width font-size20">
                <input mdInput placeholder="Street Line2 (Optional)" formControlName="line2">
              </md-input-container>
              <c2s-control-validation-error-message
                [control]="createEditPatientForm.get('homeAddress.line2')">
              </c2s-control-validation-error-message>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex>
              <md-input-container class="full-width font-size20">
                <input mdInput placeholder="City" formControlName="city">
              </md-input-container>
              <c2s-control-validation-error-message
                [control]="createEditPatientForm.get('homeAddress.city')">
              </c2s-control-validation-error-message>
            </div>
            <div fxFlex>
              <md-input-container class="full-width font-size20">
                <input mdInput placeholder="Postal Code" formControlName="postalCode">
              </md-input-container>
              <c2s-control-validation-error-message
                [customMessage]="zipErrorMessage"
                [control]="createEditPatientForm.get('homeAddress.postalCode')">
              </c2s-control-validation-error-message>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxFlex>
              <md-select placeholder="State" formControlName="stateCode"
                         class="full-width font-size20">
                <md-option *ngFor="let state of states" [value]="state.code">
                  {{ state.displayName }}
                </md-option>
              </md-select>
            </div>
            <div fxFlex>
              <md-select placeholder="Country" formControlName="countryCode"
                         class="full-width font-size20">
                <md-option *ngFor="let country of countries" [value]="country.code">
                  {{ country.displayName }}
                </md-option>
              </md-select>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="20px">
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="Social Security Number" formControlName="socialSecurityNumber">
            </md-input-container>
            <c2s-control-validation-error-message
              [customMessage]="ssnErrorMessage"
              [control]="createEditPatientForm.controls.socialSecurityNumber">
            </c2s-control-validation-error-message>
          </div>
          <div fxFlex>
            <md-input-container class="full-width font-size20">
              <input mdInput placeholder="Phone" formControlName="homePhone">
            </md-input-container>
            <c2s-control-validation-error-message
              [customMessage]="phoneErrorMessage"
              [control]="createEditPatientForm.controls.homePhone">
            </c2s-control-validation-error-message>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="20px">
          <button md-raised-button color="primary" (click)="cancel()">
            <strong>Cancel</strong>
          </button>
          <button md-raised-button color="primary" (click)="createEditPatient()"
                  [disabled]="createEditPatientForm.invalid">
            <strong>{{title}}</strong>
          </button>
        </div>
      </form>
    </md2-accordion-tab>
  </md2-accordion>

  <div style="padding-bottom: 20px" *ngIf="isEditMode">
    <c2s-provider-list [patient]="editingPatient"></c2s-provider-list>
    <c2s-consent-list [patient]="editingPatient"></c2s-consent-list>
    <c2s-segment-patient-health-record></c2s-segment-patient-health-record>
  </div>
</div>
