.create-edit-patient-form {
  width: 80%;
  margin: 1em auto 4em;
  padding: 2em 2em 2em 2em;
  font-size: 1em;
  div.md2-datepicker-input {margin-right: 0 !important;}
}

.full-width {
  width: 100%;
}


.has-error {
  color: brown;
}

input {
  font-size: 1.0em !important;
}


